/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #121212;
    color: white;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    text-align: center;
}

/* Écrans */
.screen {
    display: none;
    max-width: 700px;
    width: 100%;
}

.screen.active {
    display: block;
}

/* Titres */
h1,h2 {
    color: #F7931A;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.4;
}

/* Paragraphe d’intro */
p {
    font-size: 12px;
    margin-bottom: 20px;
}

/* Boutons */
button {
    background-color: #F7931A;
    color:black;
    border:none;
    padding: 14px 24px;
    margin: 20px 0;
    border-radius: 6px;
    font-size: 10px;
    cursor: pointer;
    transition:background-color 0.2s;
    font-family: 'Press Start 2P', cursive;
}

button:hover{
    background-color: #e67c00;
}

/* Questions */
#question-number {
    margin-top: 10px;
    font-size: 10px;
}

#question-text {
    font-size: 14px;
    margin: 20px 0;
    line-height: 1.6;
}

#answers {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
}
/* Boutons de réponse */
.answer-btn {
    background-color: #1e1e1e;
    border: 2px solid #F7931A;
    padding: 12px;
    border-radius: 6px;
    color: white;
    font-size: 10px;
    transition: all 0.2s;
    font-family: 'Press Start 2P', cursive;
  }
  
  .answer-btn:hover {
    background-color: #F7931A;
    color: black;
  }
  
  /* Feedback après réponse */
  #feedback {
    margin-top: 25px;
    font-style: italic;
    font-size: 10px;
    color: #ccc;
  }
  
  /* Écran caché */
  .hidden {
    display: none;
  }

  /* Logo Bitcoin */
  #logo-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  #logo-bitcoin {
    width: 100px;
    transition: transform 0.3s ease;
  }
  