@use '../base/variables' as v;

// Mixin to center an element with Flexbox
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Mixin for retro pixelated text
@mixin pixel-font {
  font-family: v.$font-main;
  text-transform: uppercase;
  letter-spacing: 1px;
}

// Vertical Float Animation Mixin
@mixin float-animation($name, $distance: 15px, $duration: 2s) {
  @keyframes #{$name} {
    0%   { transform: translateY(0); }
    50%  { transform: translateY($distance); }
    100% { transform: translateY(0); }
  }

  animation: #{$name} $duration ease-in-out infinite;
}