// Couleurs
$color-bg: #121212;
$color-accent: #F7931A;
$color-text: #ffffff;
$color-hover: #e67c00;
$color-border: #1e1e1e;
$color-muted: #ccc;

// Tailles
$font-size-small: 10px;
$font-size-medium: 14px;
$font-size-title: 18px;

// Fonts
$font-main: 'Press Start 2P', cursive;

// Z-index
$z-background: 0;
$z-character: 1;
$z-ui: 5;
$z-foreground: 10;